@use '../../../libs/DefaultPage/DefaultPage';
@use '../../../libs/color';
@use '../../../libs/form_utils/forms';

.form-subsection {
  margin-left: 5em;
}

.edit-icon {
  color: color.$primary-800;
}

.clear-icon {
  color: color.$primary-800;
}
