# Enable with: sudo systemctl enable project_leo.service

[Unit]
Description=Project Leo Server

[Service]
ExecStart=/root/project_leo/configs/ubuntu-services/project_leo-ExecStart.sh
ExecStopPost=/root/project_leo/configs/ubuntu-services/project_leo-ExecStopPost.sh
Restart=no

[Install]
WantedBy=multi-user.target
