[Unit]
Description=Restarts a Project Leo server started by the project_leo.service.

[Service]
ExecStart=/root/project_leo/configs/ubuntu-services/restart_project_leo@-ExecStart.sh %i
Restart=no

[Install]
WantedBy=multi-user.target
